{% extends "site_base.html" %}

{% load i18n %}

{% block extra_head %}
<script src="{{ STATIC_URL }}js/view.js"></script>
    <script type="text/javascript">
        function cacheData() {
            $.data(this, 'current', $(this).val());
        }
    $( document ).ready( function()
    {
    $('select').change(onSelect);
    $('select').each(cacheData);
    $('.down_button').click( function () {
        var rowToMove = $(this).parents('tr.MoveableRow:first');
        var next = rowToMove.next('tr.MoveableRow')
        if (next.length == 1) { next.after(rowToMove); reorder($(rowToMove).attr('id'), false); }
    });

    $('.up_button').click( function () {
        var rowToMove = $(this).parents('tr.MoveableRow:first');
        var prev = rowToMove.prev('tr.MoveableRow')
        if (prev.length == 1) { prev.before(rowToMove); reorder($(rowToMove).attr('id'), true); }
    });

    } );

function reorder(which, direction) {
        $.ajax({
            type: "POST",
            url: "/gom/force/forceEntryMove/",
            data:{'entry':which,
            'direction':direction,
            },
            dataType: "json",
        });
    }
    function onSelect (e) {
        var count = $(this).val();
        if ( count < 1 ) {
            if (!confirm( "{% trans 'Do you really want to remove this entry?' %}" )) {
                //$(this).val($.data(this, 'current'));
                return false;
            }
        }

        $.ajax({
            type: "POST",
            url: "/gom/force/forceEntryCount/",
            data:{'entry':$(this).attr('name'),
            'count':count,
            },
            dataType: "json",
            success: function(msg){
                // See if we have to delete this select
                if (msg['delete']){
                    $('#id_entry_'+msg['delete']).remove();
                }
                if (msg['cost']){
                    $('#id_cost').text(msg['cost']);
                }
            },
            error: function(msg){
            {% if user.is_authenticated and request.user == force_owner %}
                alert('Failed to update unit count');
            {% else %}
                alert('Unable to change unit entries. This is not your force.');
            {% endif %}
            },
            });
        e.preventDefault();
    }
</script>
{% endblock extra_head %}

{% load ifsetting_tag %}

{% block head_title %}{% trans "Edit Force" %}{% endblock %}

{% block body %}
    {% if force_id == '0' or user.is_authenticated and request.user == force_owner %}
    <h1>{% trans "Edit Force"%}</h1>
    {% if force_id == '0'%}
    <h4>{% trans "Note: This page is to create a new force, containing multiple units that you create seperately.<br>If you only wish to create a unit or vehicle rather than an army, then you want to <a href=/gom/unit/0>Create a new unit</a> instead." %}</h4>
    {% endif %}
    {% else %}
    <h1>{% trans "Other User's Force - View Only"%}</h1>
    {% endif %}
        <form method="post" id="forceForm" action="/gom/force/{{force_id}}/save/" enctype="multipart/form-data"> {% csrf_token %}
            {{ formset.management_form }}
            <table>
                <tbody>
                    <tr><td>
                        <table>
                            <tbody>
                                <tr><td>
                            <table>
                                <tbody>
                                    <tr><td>{% trans 'Name' %}</td><td>{{formObject.name}}</td></tr>
                                    <tr><td>{% trans 'Cost' %}</td><td id="id_cost">{{force.getCost}}</td></tr>
                                    <tr><td>{% trans 'Description' %}</td><td>{{formObject.description}}</td></tr>
                                </tbody>
                            </table>
                            </td><td>
                            <table>
                                <tbody>
                                    {% if force.units.count == 0 %}
                                        {% if force_id != '0' and user.is_authenticated and request.user == force_owner %}
                                        <a href='/gom/list/all'>{% trans 'Add units' %}</a>
                                        {% endif %}
                                    {%else %}
                                        <tr>
                                        {% if force_id != '0' and user.is_authenticated and request.user == force_owner %}
                                            <th>{% trans 're-order' %}</th>
                                        {% endif %}
                                        <th>{%trans 'Unit Name' %}</th><th>{% trans 'Count *' %}</th></tr>
                                        {% for item in force.units %}
                                        <tr class="MoveableRow" id="id_entry_{{item.id}}">
                                            {% if force_id != '0' and user.is_authenticated and request.user == force_owner %}
                                            <td><span class="down_button" style="cursor:pointer;"><img src="{{ STATIC_URL }}/images/arrow-3D-green-down.jpg" alt="{% trans 'down' %}" style="max-width:24px; max-height:24px;"/></span><span class="up_button"><img src="{{ STATIC_URL }}/images/arrow-3D-green-up.jpg" alt="{% trans 'up' %}" style="max-width:24px; max-height:24px;"/></span></td>
                                            {% endif %}
                                            <td><a href="/gom/unit/{{item.unit.id}}/">{{item.unit.name}}</a></td>
                                            <td>
                                                <select name="entry_{{item.id}}">
                                                    <option value="0">0</option>
                                                    {% for i in 123456789|make_list %}
                                                        {% if i|add:"0" == item.count %}
                                                            <option value="{{i}}" selected="selected">{{i}}</option>
                                                        {% else %}
                                                            <option value="{{i}}">{{i}}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </td></tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                    </td></tr>
                    </tbody>
                    </table>
            </td>
    </tr>
            </tbody>
        </table>
            <table>
                <tbody>
                    <tr>
                        {% if force_id == '0' or user.is_authenticated and request.user == force_owner %}
                        <td> <button name="save" type="submit" id="id_save">{% trans "Save" %}</button> </td>
                        {% endif %}
                        {% if user.is_authenticated and request.user == force_owner %}
                            <td> <button name="delete" type="submit" id="id_delete">{% trans "delete" %}</button> </td>
                        {% endif %}
                        {% if force_id != '0' %} {% comment %} this wouldn't redirect url and we could end up with multiple versions of this unit saved {% endcomment %}
                            <td> <button name="pdf" type="submit">{% trans "PDF" %}</button> </td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </form>
        <h4>{%trans '*Note: by design only one card is outputed for each Unit Entry. The count value is used in calculating force point cost.<br> If you wish to have multiple duplicate cards included in a force then add one entry for each card that you require.' %}</h4>
{% endblock %}
