{% extends "site_base.html" %}

{% load i18n %}
{% block extra_head %}
<script src="{{ STATIC_URL }}js/view.js"></script>

<script type="text/javascript">
    function updateSave() {
        if ( {{ saved }} == 1 ) {
            $('#id_save').html("{% trans "Saved" %}").delay('slow').queue(function(n) {
            $(this).html("{% trans "Save" %}");
            n();})
        }
    }

    function updateStats(size, gtype) {
        // size and damage boxes
        switch (gtype) {
            case (3):
            case(4):
                $('#id_size_tr').show();
                // fill in damage value
                if ( gtype == 3)
                    $('#id_dam_text').html([0,4,5,6,7,8][size]);
                else
                    $('#id_dam_text').html([0,12,14,16,18,20][size]);
                $('#id_damage_tr').show();
                break;
            default:
                $('#id_size_tr').hide();
                $('#id_damage_tr').hide();
                break;
        }
        // guard,soak and mobility
        switch (gtype) {
            case (3):
                $('#id_mobility_tr').show();
                $('#id_spec_abilities').show();
                // calc values then lock them
                $("#id_guard").val(15-size);
                $("#id_guard option").not(":selected").attr("disabled", "disabled");
                if ( size == 5 ) { 
                    $("#id_soak").append("<option value='16'>{% trans 'Spec. Assault(16)'%}</option>")
                }
                $("#id_soak").val(11+size);
                $("#id_soak option").not(":selected").attr("disabled", "disabled");
                break;
            default:
                $('#id_mobility_tr').hide();
                $('#id_spec_abilities').hide();
                $("#id_guard option").removeAttr("disabled");
                $("#id_soak option").removeAttr("disabled");
                $("#id_soak option[value='16']").remove();
        }
        // Hide perks
        if (gtype == 2)
            $('#id_perks_tr').hide();
        else
            $('#id_perks_tr').show();

        switch (gtype) {
            case 1:
                $('#id_weapons_tr').show();
                $('#id_SAWeapons_tr').hide();
                $('#id_SpecWeapons_tr').hide();
                break;
            case 2:
                $('#id_SAWeapons_td').html('{% trans "SA Weapons" %}');
                $('#id_weapons_tr').hide();
                $('#id_SAWeapons_tr').show();
                $('#id_SpecWeapons_tr').hide();
                break;
            case 3:
                $('#id_weapons_tr').hide();
                $('#id_SAWeapons_tr').hide();
                $('#id_SpecWeapons_tr').show();
                break;
            case 4:
                $('#id_SAWeapons_td').html('{% trans "Commander Weapons" %}');
                $('#id_weapons_tr').hide();
                $('#id_SAWeapons_tr').show();
                $('#id_SpecWeapons_tr').hide();
                break;
            default:
                alert('Invalid grunt type:' + gtype);
                break;
        }
    }

    function sizeClick(event) {
        var size = parseInt($('#id_size').val());
        var gtype = parseInt($('#id_gruntType').val());
        updateStats(size, gtype);
        return false;
    }
    // if it's a specialist, and walking, show the mecha walk check box
    function mobiClick(event) {
        if (parseInt($('#id_gruntType').val()) == 3) {
            if ($(this).val() == 1)
                $('#id_mech_walk').show();
            else
                $('#id_mech_walk').hide();
        }
    }

    $( document ).ready( function()
        {
        $('#id_delete').click(confirmDelete);
        $('#id_gruntType').change(sizeClick);
        $('#id_size').change(sizeClick);
        $('#id_mobility').change(mobiClick);
        updateStats( parseInt($('#id_size').val()), parseInt($('#id_gruntType').val()));
        updateSave();
        } );
</script>
{% endblock extra_head %}

{% load ifsetting_tag %}

{% block head_title %}{% trans "Edit Grunt" %}{% endblock %}

{% block body %}
    {% if grunt_id == '0' or user.is_authenticated and request.user == grunt_owner %}
    <h1>{% trans "Edit Grunt"%}</h1>
    {% else %}
    <h1>{% trans "Other User's Grunt - View Only"%}</h1>
    {% endif %}
    
    <dl class="what_next">
        <form method="post" id="grunt" action="/gom/grunt/{{grunt_id}}/save/" enctype="multipart/form-data"> {% csrf_token %}
            {{ formset.management_form }}
            <table>
                <tbody>
                    <tr><td>
                        <table>
                            <tbody>
                                <tr><td>
                            <table>
                                <tbody>
                                    <tr><td>{{formObject.name.label}}</td><td>{{formObject.name}}</td></tr>
                                    <tr><td>{% trans "Grunt Type" %}</td><td>{{formObject.gruntType}}</td>
                                    <tr id="id_size_tr"><td>{{formObject.size.label}}</td><td>{{formObject.size}}</td>
                                    <tr><td>{{formObject.shoot.label}}</td><td>{{formObject.shoot}}</td></tr>
                                    <tr><td>{{formObject.assault.label}}</td><td>{{formObject.assault}}</td></tr>
                                    <tr><td>{{formObject.guard.label}}</td><td>{{formObject.guard}}</td></tr>
                                    <tr><td>{{formObject.soak.label}}</td><td>{{formObject.soak}}</td></tr>
                                    <tr id="id_damage_tr"><td>{% trans "Damage" %}</td><td id="id_dam_text">{{grunt.getDam}}</td></tr>
                                    <tr><td>{{formObject.mental.label}}</td><td>{{formObject.mental}}</td></tr>
                                    <tr><td>{{formObject.skill.label}}</td><td>{{formObject.skill}}</td></tr>
                                </tbody>
                            </table>
                            </td><td>
                            <table>
                                <tbody>
                                    {% if filename %}
                                    <tr><td><img src='{{ STATIC_URL }}/user_media/{{filename}}'/>
                                    {% endif %}
                                    <tr><td>{{formObject.image.label}}</td><td>{{formObject.image}}</td></tr>
                                    <tr id="id_weapons_tr"><td>{{formObject.weapons.label}}</td><td>{{formObject.weapons}}</td></tr>
                                    <tr id="id_SAWeapons_tr"><td id="id_SAWeapons_td">{% trans "SA/Commander weapons" %}</td><td>{{formObject.SAWeapons}}</td></tr>
                                    <tr id="id_SpecWeapons_tr"><td>{% trans "Specialist Weapons" %}</td><td>{{formObject.SpecWeapons}}</td></tr>
                                    <tr><td>{% trans "CCW" %}</td><td>{{formObject.CCW}}</td></tr>
                                    <tr><td>{% trans "Grenade" %}</td><td>{{formObject.grenades}}</td></tr>
                                    <tr id="id_mobility_tr"><td>{{formObject.mobility.label}}</td><td>{{formObject.mobility}}</td><td id="id_mech_walk">{%trans "Mecha?" %}</td><td>{{formObject.mechaSpecialist}}</td></tr>
                                    <tr id="id_spec_abilities"><td>{%trans "Engineer"%}</td><td>{{formObject.engineerSpecialist}}</td><td>{%trans "Medic "%}</td><td>{{formObject.medicSpecialist}}</td></tr>
                                    <tr id="id_perks_tr"><td>{% trans "Perk" %}</td><td>{{formObject.perks}}</td></tr>
                                </tbody>
                            </table>
                    </td></tr>
                    </tbody>
                    </table>
            </td>
            <td>
                <table> <!-- Description table -->
                    <tbody>
                        <tr><td>{% trans "Description:" %}</td></tr>
                        <tr><td>{{formObject.desc}}</td></tr>
                        <tr><td>{% trans "Manufacturer:"%}</td></tr>
                        <tr><td>{{formObject.manu}}</td></tr>
                    </tbody>
                </table>
            </td>
    </tr>
            </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        {% if grunt_id == '0' or user.is_authenticated and request.user == grunt_owner %}
                        <td> <button name="save" type="submit">{% trans "Save" %}</button> </td>
                        {% endif %}
                        {% if user.is_authenticated and request.user == grunt_owner %}
                        <td> <button name="delete" type="submit" id="id_delete">{% trans "delete" %}</button> </td>
                        {% endif %}
                        {% if grunt_id != '0' %} {% comment %} this wouldn't redirect url and we could end up with multiple versions of this unit saved {% endcomment %}
                        <td> <button name="pdf" type="submit">{% trans "PDF" %}</button> </td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>

        </form>
{% endblock %}
