{% extends "site_base.html" %}

{% load i18n %}
{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/unit_1.0.0.css">
<script src="{{ STATIC_URL }}js/view.js"></script>
<script src="{{ STATIC_URL }}js/jquery.raty.min.js"></script>

<script type="text/javascript">
    var WEAPON_COST = {'':0, {{weapons}} };
    var PERK_COST = {'':0, {{perkz}} };
    var MODZ_COST = {'':0, {{modz}} };
    function baseCost(utype, size) {
        switch (utype) {
            case(1):
                return 1;
            case (2):
                return 2;
            case (3):
                var specCost=0;
                if ($('#id_medicSpecialist').prop('checked'))
                    specCost = specCost+5;
                if ($('#id_engineerSpecialist').prop('checked'))
                    specCost = specCost+5;
                return specCost+[0,2,4,6,8,10][size];
            case (4):
                return [0,1,3,5,7,9][size];
            case (11):
                return [0, 21, 22, 25, 28, 32][size];
            case (12):
                return [0, 17, 18, 20, 23, 27][size];
            case (13):
                return [0, 15, 16, 19, 22, 26][size];
            case (14):
                return [0, 16, 18, 21, 24, 28][size];
            case (15):
                return [0, 17, 20, 23, 27, 31][size];
            default:
                return 0;
        }
    }
    function mobilityCost(utype){
        var mobi=$('#id_mobility').val();
        switch (utype) {
            case(1):
            case(2):
            case(4):
            case(12):
                return 0;
            case(3):
                var mechaCost=0;
                if (mobi == 1 && $('#id_mechaSpecialist').prop('checked')) {
                    mechaCost=1;
                }
                return [0,0,1,2,3,3][mobi] + mechaCost;
            case(14):
                mobi=$('#id_air_mobility').val()
                return [0,0,1,1,2,999][mobi];
            default:
                return [0,0,1,1,2,3][mobi];
        }
    }
    function shootCost(utype){
        if (utype < 10){
            if (utype == 2)
                return 0;
            return $('#id_shoot').val()-2;
        }
        return 0;
    }
    function assaultCost(utype){
        if (utype < 10){
            if (utype == 2)
                return 0;
            return $('#id_assault').val()-2;
        }
        return 0;
    }
    function guardCost(utype){
        if (utype == 1 || utype == 4){
            var t={10:1, 11:2, 12:4, 13:6, 14:8}
            return t[$('#id_guard').val()];
        }
        return 0;
    }
    function skillCost(utype){
        if (utype == 1 || utype == 3 || utype == 4)
            return [0,0,1,2,3,5,8,12][$('#id_skill').val()];
        else if (utype>=11)
            return [0,0,0,1,2,5,8,12][$('#id_skill').val()];
        return 0;
    }
    function mentalCost(utype){
        if (utype == 1 || utype == 4 || utype == 3)
            return $('#id_mental').val()-4;
        return 0;
    }
    function soakCost(utype){
        if (utype == 1 || utype == 4){
            var t={10:1, 11:2, 12:3, 13:4, 14:6, 15:8};
            return t[$('#id_soak').val()];
        }
        return 0;
    }
    function perkCost(utype, size) {
        var cmdTekCost = 0;
        switch (utype) {
            case(2):
                return 0;
            case(1):
            case(3):
            case(4):
                if ($('#id_perks').val() != '' && $('#id_perks2').val() != '') {
                    return 5 + PERK_COST[$('#id_perks').val()] + PERK_COST[$('#id_perks2').val()];
                }
                return PERK_COST[$('#id_perks').val()] + PERK_COST[$('#id_perks2').val()];
            case(13):
            case(14):
                if ( $('#id_cmdTek').prop('checked') )
                    cmdTekCost = 6;
                // deliberately fall through
            case(11):
            case(12):
            case(15):
                if ($('#id_modz').val() != '' && $('#id_modz2').val() != '') {
                    return cmdTekCost + 5 + MODZ_COST[$('#id_modz').val()] + MODZ_COST[$('#id_modz2').val()];
                }
                return cmdTekCost+MODZ_COST[$('#id_modz').val()] + MODZ_COST[$('#id_modz2').val()];
        }
    }
    function weaponCost(utype, size) {
        // adjust to handle PA weapons
        switch (utype) {
            case(1):
                var soak = parseInt($('#id_soak').val());
                //need to include base SA cost of 2 per inline weapon guy
                var old_cost=0;
                var inline_cost = WEAPON_COST[$('#id_inlineWeapons').val()];
                if (inline_cost != old_cost) { inline_cost += 2; old_cost=inline_cost;}
                inline_cost = old_cost + WEAPON_COST[$('#id_inlineWeapons2').val()];
                if (inline_cost != old_cost) { inline_cost += 2;}

                if ( soak >= 14 ) { // PA squad
                    if ( $('#id_SAWeapons option:selected').text().match(/^SA./)) { // PA squad with SA weapon
                        return inline_cost+(6*WEAPON_COST[$('#id_SAWeapons').val()])+WEAPON_COST[$('#id_grenades').val()]+WEAPON_COST[$('#id_CCW').val()];
                    } else
                        return inline_cost+WEAPON_COST[$('#id_SAWeapons').val()]+WEAPON_COST[$('#id_grenades').val()]+WEAPON_COST[$('#id_CCW').val()];
                } else
                    return inline_cost+WEAPON_COST[$('#id_basicWeapons').val()]+WEAPON_COST[$('#id_grenades').val()]+WEAPON_COST[$('#id_CCW').val()];
            case(2):
                return WEAPON_COST[$('#id_SAWeapons').val()]+WEAPON_COST[$('#id_CCW').val()];
            case(4):
                return WEAPON_COST[$('#id_SAWeapons').val()]+WEAPON_COST[$('#id_grenades').val()]+WEAPON_COST[$('#id_CCW').val()];
            case(3):
                return WEAPON_COST[$('#id_SpecWeapons').val()]+WEAPON_COST[$('#id_grenades').val()]+WEAPON_COST[$('#id_CCW').val()];
            case(11):
            case(12):
                var main=0;
                var AI=0;
                var old_cost=0;
                var cost = WEAPON_COST[$('#id_mainWeapons').val()];
                if (cost != old_cost) { main++; old_cost=cost;}
                cost = cost + WEAPON_COST[$('#id_AIWeapons').val()];
                if (cost != old_cost) { AI++; old_cost=cost;}
                if (size >= 2) {
                    cost = cost + WEAPON_COST[$('#id_mainWeapons2').val()];
                    if (cost != old_cost) { main++; old_cost=cost;}
                    if (size >= 3) {
                        cost = cost + WEAPON_COST[$('#id_mainWeapons3').val()];
                        if (cost != old_cost) { main++; old_cost=cost;}
                        cost = cost + WEAPON_COST[$('#id_AIWeapons2').val()];
                        if (cost != old_cost) { AI++; old_cost=cost;}
                        if (size >= 5)
                            cost = cost + WEAPON_COST[$('#id_mainWeapons4').val()];
                            if (cost != old_cost) { main++; old_cost=cost;}
                    }
                }
                return cost+[0, 1, 4, 8, 13][main]+[0, 2, 4][AI];
            case(13):
            case(14):
                var old_cost=0;
                var cost = WEAPON_COST[$('#id_AIWeapons').val()];
                var AI=0;
                if (cost != old_cost) { AI++; old_cost=cost;}
                if (size >= 3) {
                    cost = cost + WEAPON_COST[$('#id_AIWeapons2').val()];
                    if (cost != old_cost) { AI++; old_cost=cost;}
                }
                return cost+[0, 2, 4][AI];
            case(15):
                var main=0;
                var AI=0;
                var old_cost=0;
                var cost = WEAPON_COST[$('#id_mainWeapons').val()];
                if (cost != old_cost) { main++; old_cost=cost;}
                cost = cost + WEAPON_COST[$('#id_AIWeapons').val()];
                if (cost != old_cost) { AI++; old_cost=cost;}
                if (size >= 3) {
                    cost = cost + WEAPON_COST[$('#id_mainWeapons2').val()];
                    if (cost != old_cost) { main++; old_cost=cost;}
                    cost = cost + WEAPON_COST[$('#id_AIWeapons2').val()];
                    if (cost != old_cost) { AI++; old_cost=cost;}
                }
                return cost+[0, 1, 4, 8, 13][main]+[0, 2, 4][AI];
             
        }
    }

    function updateCost(){
        var size = parseInt($('#id_size').val());
        var utype = parseInt($('#id_unitType').val());
        var cost = baseCost(utype, size)+shootCost(utype)+assaultCost(utype)+guardCost(utype)+soakCost(utype)+weaponCost(utype,size)+mobilityCost(utype)+mentalCost(utype)+skillCost(utype)+perkCost(utype);
        if (utype<10)
            cost = Math.ceil(cost/2);
        //alert ('base: ' + baseCost(utype,size)+'shoot:'+shootCost(utype)+' assault:'+assaultCost(utype)+' guard:'+guardCost(utype)+' soak:'+soakCost(utype)+' mental:'+mentalCost(utype)+' skill:'+skillCost(utype)+' weapons:'+weaponCost(utype,size)+' perks: '+perkCost(utype)); 
        $('#id_cost').html(cost);
    }

    function updateSave() {
        if ( {{ saved }} == 1 ) {
            $('#id_save').html("{% trans "Saved" %}").delay('slow').queue(function(n) {
            $(this).html("{% trans "Save" %}");
            n();})
        }
    }

function vehicleWeapon(which, utype, size)
{
    $(which+'_tb').show();
    $("option", $(which)).each(function(i) {
            if ($(this).attr("weaponSize")>size || (utype != 15 && $(this).attr("weaponType") == 11) ) {
                $(this).attr("disabled", "disabled");
                if ($(this).attr("selected")) {
                $(this).removeAttr("selected");
                    $(which).val("");
                }
            }
            else
                $(this).removeAttr("disabled");
            });
}

function showWeapons(utype) {
        if ( utype == 1 )
            $('#id_inlineWeapons_tb').show()
        else
            $('#id_inlineWeapons_tb').hide()
        if ( utype < 10 ) {
            $('#id_shoot_tr').show();
            $('#id_assault_tr').show();
            $('#id_mental_tr').show();
            // Hide vehicle specific stuff
            $('#id_mainWeapons_tb').hide();
            $('#id_mainWeapons2_tb').hide();
            $('#id_mainWeapons3_tb').hide();
            $('#id_mainWeapons4_tb').hide();
            $('#id_AIWeapons_tb').hide();
            $('#id_AIWeapons2_tb').hide();
            $('#id_modz_tb').hide();
            $('#id_cmdTek_tr').hide();
            $('#id_grenades_tb').show();
            $('#id_CCW_tb').show();
            switch (utype) {
                case 1:
                    if ( utype == 1 && parseInt($('#id_soak').val()) >= 14 ) {
                        // PA Squad
                        $('#id_basicWeapons_tb').hide();
                        $('#id_SAWeapons_td').html('{% trans "Power Armour Weapons" %}');
                        $('#id_SAWeapons_tb').show();
                    } else {
                        $('#id_basicWeapons_tb').show();
                        $('#id_SAWeapons_tb').hide();
                    }
                    $('#id_SpecWeapons_tb').hide();
                    break;
                case 2:
                    $('#id_SAWeapons_td').html('{% trans "SA Weapons" %}');
                    $('#id_basicWeapons_tb').hide();
                    $('#id_SAWeapons_tb').show();
                    $('#id_SpecWeapons_tb').hide();
                    break;
                case 3:
                    $('#id_basicWeapons_tb').hide();
                    $('#id_SAWeapons_tb').hide();
                    $('#id_SpecWeapons_tb').show();
                    break;
                case 4:
                    $('#id_SAWeapons_td').html('{% trans "Commander Weapons" %}');
                    $('#id_basicWeapons_tb').hide();
                    $('#id_SAWeapons_tb').show();
                    $('#id_SpecWeapons_tb').hide();
                    break;
                default:
                    alert('Invalid infantry unit type:' + utype);
                    break;
            }
        } else {
            var size = $('#id_size').val();
            $('#id_shoot_tr').hide();
            $('#id_assault_tr').hide();
            $('#id_mental_tr').hide();
            $('#id_SAWeapons_tb').hide();
            $('#id_SpecWeapons_tb').hide();
            $('#id_basicWeapons_tb').hide();
            $('#id_grenades_tb').hide();
            $('#id_CCW_tb').hide();
            $('#id_modz_tb').show();
            vehicleWeapon('#id_AIWeapons', utype, size);
            switch (utype) {
                case 11:
                case 12:
                    vehicleWeapon('#id_mainWeapons', utype, size);
                    if ( size == 5 ) {
                        vehicleWeapon('#id_mainWeapons2', utype, size);
                        vehicleWeapon('#id_mainWeapons3', utype, size);
                        vehicleWeapon('#id_mainWeapons4', utype, size);
                        $('#id_AIWeapons2_tb').show();
                    } else if ( size >=3 ) {
                        vehicleWeapon('#id_mainWeapons2', utype, size);
                        vehicleWeapon('#id_mainWeapons3', utype, size);
                        $('#id_mainWeapons4_tb').hide();
                        $('#id_AIWeapons2_tb').show();
                    } else if ( size == 2 ) {
                        vehicleWeapon('#id_mainWeapons2', utype, size);
                        $('#id_mainWeapons3_tb').hide();
                        $('#id_mainWeapons4_tb').hide();
                        $('#id_AIWeapons2_tb').hide();
                    }  else {
                        $('#id_mainWeapons2_tb').hide();
                        $('#id_mainWeapons3_tb').hide();
                        $('#id_mainWeapons4_tb').hide();
                        $('#id_AIWeapons2_tb').hide();
                    }
                    $('#id_cmdTek_tr').hide();
                    break;
                case 13:
                case 14:
                    $('#id_mainWeapons_tb').hide();
                    $('#id_mainWeapons2_tb').hide();
                    $('#id_mainWeapons3_tb').hide();
                    $('#id_mainWeapons4_tb').hide();
                    if ( size >= 3 )
                        $('#id_AIWeapons2_tb').show();
                    else
                        $('#id_AIWeapons2_tb').hide();
                    $('#id_cmdTek_tr').show();
                    break;
                case 15:
                    vehicleWeapon('#id_mainWeapons', utype, size);
                    $('#id_mainWeapons3_tb').hide();
                    $('#id_mainWeapons4_tb').hide();
                    if ( size >= 3 ) {
                        $('#id_AIWeapons2_tb').show();
                        vehicleWeapon('#id_mainWeapons2', utype, size);
                    } else {
                        $('#id_AIWeapons2_tb').hide();
                        $('#id_mainWeapons2_tb').hide();
                    }
                    $('#id_cmdTek_tr').hide();
                    break;
                default:
                    alert ('No weapon support for this vehicle type yet');
                    break;
            }
        }
    }

    function updateStats(utype, size) {
        if ( utype >= 3) {
            $('#id_size_tr').show();
            $('#id_damage_tr').show();
        } else {
            $('#id_size_tr').hide();
            $('#id_damage_tr').hide();
        }
        if ( utype == 3)
            $('#id_spec_abilities').show();
        else
            $('#id_spec_abilities').hide();
        mobiClick(); // updates mecha walk box
        $("#id_guard option[value='9']").remove();
        $("#id_soak option[value='16']").remove();
        $("#id_soak option[value='17']").remove();
        $("#id_soak option[value='18']").remove();
        $("#id_soak option[value='19']").remove();
        // size and damage boxes
        switch (utype) {
            case (4):
                $('#id_dam_text').html([0,12,14,16,18,20][size]);
                // deliberately fall through into 1,2
            case (1):
            case (2):
                $('#id_mobility_tr').hide();
                $('#id_air_mobility_tr').hide();
                break;
            case (3):
                $('#id_dam_text').html([0,4,5,6,7,8][size]);
                $('#id_mobility_tr').show();
                $('#id_air_mobility_tr').hide();
                // calc values then lock them
                $("#id_guard").val(15-size);
                if ( size == 5 ) { 
                    $("#id_soak").append("<option value='16'>{% trans 'Spec. Assault(16)'%}</option>")
                }
                $("#id_soak").val(11+size);
                break;
            // vehicles
            case 11:
                var damValues= [0, 14, 18, 22, 26, 30];
                var soak = 14+size;
                var guard = 14-size;
                if (guard < 10)
                    $("#id_guard").append("<option value='"+guard+"'>{% trans 'Super Slow'%} ("+guard+")</option>")
                $('#id_guard').val(14-size);
                if (soak > 15)
                    $("#id_soak").append("<option value='"+soak+"'>"+soak+"</option>")
                $('#id_soak').val(14+size);
                $('#id_dam_text').html(damValues[size]);
                $('#id_mobility_tr').show();
                $('#id_air_mobility_tr').hide();
                break;
            case 12: //mecha
                var damValues= [0, 12, 14, 16, 20, 24];
                var soak = 13+size;
                $('#id_guard').val(15-size);
                if (soak > 15)
                    $("#id_soak").append("<option value='"+soak+"'>"+soak+"</option>")
                $('#id_soak').val(soak);
                $('#id_dam_text').html(damValues[size]);
                $('#id_mobility_tr').hide();
                $('#id_air_mobility_tr').hide();
                break;
            case 13: //GSV
                var damValues= [0, 10, 12, 16, 20, 22];
                var soakValues=[0, 15, 15, 16, 17, 18];
                var soak = soakValues[size];
                $('#id_guard').val(14-size);
                if (soak > 15)
                    $("#id_soak").append("<option value='"+soak+"'>"+soak+"</option>")
                $('#id_soak').val(soakValues[size]);
                $('#id_dam_text').html(damValues[size]);
                $('#id_mobility_tr').show();
                $('#id_air_mobility_tr').hide();
                break;
            case 14: //ASV
                var damValues= [0, 10, 12, 14, 16, 18];
                var soakValues=[0, 13, 14, 15, 16, 17];
                var soak = soakValues[size];
                if (soak > 15)
                    $("#id_soak").append("<option value='"+soak+"'>"+soak+"</option>")
                $('#id_guard').val(15-size);
                $('#id_soak').val(soakValues[size]);
                $('#id_dam_text').html(damValues[size]);
                $('#id_mobility_tr').hide();
                $('#id_air_mobility_tr').show();
                break;
            case 15: //Artillery
                var damValues= [0, 12, 14, 18, 22, 24];
                var soak=13+size;
                $("#id_guard").val(14-size);
                if (soak > 15)
                    $("#id_soak").append("<option value='"+soak+"'>"+soak+"</option>")
                $("#id_soak").val(13+size);
                $('#id_dam_text').html(damValues[size]);
                $('#id_mobility_tr').show();
                $('#id_air_mobility_tr').hide();
                break;
            default:
                alert ('Unit type ' + utype + ' not yet supported.');
        }

        if ( utype == 1 || utype == 2 || utype == 4 ) {
            $("#id_guard option").removeAttr("disabled");
            $("#id_soak option").removeAttr("disabled");
        } else {
            $("#id_guard option:selected").removeAttr("disabled");
            $("#id_soak option:selected").removeAttr("disabled");
            $("#id_guard option").not(":selected").attr("disabled", "disabled");
            $("#id_soak option").not(":selected").attr("disabled", "disabled");
        }

        // Hide perks
        switch (utype) {
            case(1):
            case(3):
            case(4):
                $('#id_perks_tb').show();
                break;
            default:
                $('#id_perks_tb').hide();
        }
        showWeapons(utype, size);
    }

    function soakClick(event) {
        var utype = parseInt($('#id_unitType').val());
        if ( utype == 1 ) { // only need to check if we could be a PA gruntz squad
            showWeapons(utype);
        }
        return false;
    }
    function publishClick(event) {
        if ($('#id_publish').prop('checked')) {
            alert("{% trans 'Once saved, this unit will now appear in the list of published and finished units. Please ensure that the unit is complete.' %}");
        } else {
            alert("{% trans 'Once saved, this unit will no longer appear in the list of published and finished units. However other users may still view it if they choose to view non-published units.' %}");
        }
        return false;
    }
    function sizeClick(event) {
        var size = parseInt($('#id_size').val());
        var utype = parseInt($('#id_unitType').val());
        updateStats(utype, size);
        return false;
    }
    // if it's a specialist, and walking, show the mecha walk check box
    function mobiClick(event) {
        if (parseInt($('#id_unitType').val()) == 3) {
            if ($('#id_mobility').val() == 1)
                $('#id_mech_walk').show();
            else
                $('#id_mech_walk').hide();
        }
    }
function weaponOR(event) {
        if ($(this).is(':checked'))
            $('#tr_'+$(this).attr('name')).show();
        else
            $('#tr_'+$(this).attr('name')).hide();
    }
    $( document ).ready( function()
        {
        $('#id_delete').click(confirmDelete);
        $('#id_unitType').change(sizeClick);
        $('#id_size').change(sizeClick);
        $('#id_soak').change(soakClick);
        $('#id_mobility').change(mobiClick);
        $('#id_mech_walk').hide();
        $('[type=checkbox].[name^="OR_"]').change(weaponOR);
        $('[type=checkbox].[name^="OR_"]').each(weaponOR);
        $('#id_publish').change(publishClick);
        updateStats( parseInt($('#id_unitType').val()), parseInt($('#id_size').val()) );
        updateSave();

        $('select').change(updateCost);
        $('#id_medicSpecialist').change(updateCost);
        $('#id_engineerSpecialist').change(updateCost);
        $('#id_cmdTek').change(updateCost);
        $('#star').raty({
            score:{{unit.getRating}},
            {% if not user.is_authenticated %}
                readOnly : true,
            {% endif %}
            path : '/site_media/static/raty/',
            cancel    : true,
            cancelOff : 'cancel-off.png',
            cancelOn  : 'cancel-on.png',
            half      : true,
            starHalf  : 'star-half.png',
            starOff   : 'star-off.png',
            starOn    : 'star-on.png',
            click: function(score, evt) {
                $.ajax({
                    type: "POST",
                    url: "/gom/unit/{{unit.id}}/rate/",
                    data:{'score':score,
                    },
                    dataType: "json",
                });
            }
        });
        } );
</script>
{% endblock extra_head %}

{% load ifsetting_tag %}

{% block head_title %}{% trans "Edit Unit" %}{% endblock %}

{% block body %}
    <form method="post" id="unit" action="/gom/unit/{{unit.id}}/save/" enctype="multipart/form-data"> {% csrf_token %}
        {{ formset.management_form }}
        <div style="white-space:nowrap; height:50px;">
            <div style="display:inline; float:left; white-space:nowrap;">
                {% if unit.tempInstance or user.is_authenticated and request.user == unit_owner %}
                <div style="display:inline; float:left;"><h1>{% trans "Edit Unit"%}</h1></div>
                <div style="display:inline; float:left; padding-left:10px;">{{formObject.publish.label}} {{formObject.publish}}</div>
                {% else %}
                <h1>{% trans "Other User's Unit - View Only"%}</h1>
                {% endif %}
            </div>
            <div style="display:inline; float:right;" id="star"></div>
            <div style="float:right;white-space:nowrap;">
                <h1 style="margin-bottom:0px; margin-right:20px;">{% trans 'Cost: ' %}<span id="id_cost">{{unit.cost}}</span></h1>
            </div>
        </div>
            <div style="width:100%; clear:both;">
                <div class="leftColumn">
                            <table>
                                <tbody>
                                    <tr><td>{% trans 'Name' %}</td><td>{{formObject.name}}</td></tr>
                                    <tr><td>{% trans "Unit Type" %}</td><td>{{formObject.unitType}}</td></tr>
                                    <tr id="id_size_tr"><td>{% trans 'Size' %}</td><td>{{formObject.size}}</td></tr>
                                    <tr id="id_shoot_tr"><td>{% trans 'Shoot' %}</td><td>{{formObject.shoot}}</td></tr>
                                    <tr id="id_assault_tr"><td>{% trans 'Assault' %}</td><td>{{formObject.assault}}</td></tr>
                                    <tr><td>{% trans 'Guard' %}</td><td>{{formObject.guard}}</td></tr>
                                    <tr><td>{% trans 'Soak' %}</td><td>{{formObject.soak}}</td></tr>
                                    <tr id="id_mental_tr"><td>{% trans 'Mental' %}</td><td>{{formObject.mental}}</td></tr>
                                    <tr><td>{% trans 'Skill' %}</td><td>{{formObject.skill}}</td></tr>
                                    <tr id="id_damage_tr"><td>{% trans "Damage" %}</td><td id="id_dam_text">{{unit.getDam}}</td></tr>
                                    <tbody id="id_modz_tb">
                                        <tr><td>Modz</td><td>{{formObject.modz}}</td></tr>
                                        <tr><td>Modz 2</td><td>{{formObject.modz2}}</td></tr>
                                    </tbody>
                                    <tbody id="id_perks_tb">
                                        <tr><td>{{formObject.perks.label}}</td><td>{{formObject.perks}}</td></tr>
                                        <tr><td>{{formObject.perks2.label}}</td><td>{{formObject.perks2}}</td></tr>
                                    </tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="centreColumn">
                            <table>
                                <tbody id="id_mobility_tr">
                                    <tr><td>{{formObject.mobility.label}}</td><td>{{formObject.mobility}}</td><td id="id_mech_walk">{%trans "Mecha?" %}{{formObject.mechaSpecialist}}</td></tr>
                                </tbody>
                                <tbody id="id_air_mobility_tr">
                                    <tr><td>{{formObject.air_mobility.label}}</td><td>{{formObject.air_mobility}}</td></tr>
                                </tbody>
                                <tbody>
                                    <tbody id="id_basicWeapons_tb">
                                        <tr><td>{% trans "Grunt Weapons" %}</td><td>{{formObject.basicWeapons}}</td><td>{{formObject.OR_basic}}</td></tr>
                                        <tr id="tr_OR_basic"><td>{{formObject.basic_Custom.label}}</td><td>{{formObject.basic_Custom}}</td></tr>
                                    </tbody>
                                    <tbody id="id_SAWeapons_tb">
                                        <tr><td id="id_SAWeapons_td">{% trans "SA/Commander weapons" %}</td><td>{{formObject.SAWeapons}}</td><td>{{formObject.OR_SA}}</td></tr>
                                        <tr id="tr_OR_SA"><td>{{formObject.SA_Custom.label}}</td><td>{{formObject.SA_Custom}}</td></tr>
                                    </tbody>
                                    <tbody id="id_SpecWeapons_tb">
                                        <tr><td>{% trans "Specialist Weapons" %}</td><td>{{formObject.SpecWeapons}}</td><td>{{formObject.OR_Spec}}</td></tr>
                                        <tr id="tr_OR_Spec"><td>{{formObject.Spec_Custom.label}}</td><td>{{formObject.Spec_Custom}}</td></tr>
                                    </tbody>
                                    <tbody id="id_CCW_tb">
                                        <tr><td>{% trans "CCW" %}</td><td>{{formObject.CCW}}</td><td>{{formObject.OR_CCW}}</td></tr>
                                        <tr id="tr_OR_CCW"><td>{{formObject.CCW_Custom.label}}</td><td>{{formObject.CCW_Custom}}</td></tr>
                                    </tbody>
                                    <tbody id="id_grenades_tb">
                                        <tr><td>{{formObject.grenades.label}}</td><td>{{formObject.grenades}}</td><td>{{formObject.OR_grenades}}</td></tr>
                                        <tr id="tr_OR_grenades"><td>{{formObject.grenades_Custom.label}}</td><td>{{formObject.grenades_Custom}}</td></tr>
                                    </tbody>
                                    <tbody id="id_inlineWeapons_tb">
                                        <tr><td id="id_inlineWeapons_td">{% trans "Same-card SA" %}</td><td>{{formObject.inlineWeapons}}</td><td>{{formObject.OR_inline}}</td></tr>
                                        <tr id="tr_OR_inline"><td>{{formObject.inline_Custom.label}}</td><td>{{formObject.inline_Custom}}</td></tr>
                                        <tr><td id="id_inlineWeapons2_td">{% trans "Same-card SA 2" %}</td><td>{{formObject.inlineWeapons2}}</td><td>{{formObject.OR_inline2}}</td></tr>
                                        <tr id="tr_OR_inline2"><td>{{formObject.inline2_Custom.label}}</td><td>{{formObject.inline2_Custom}}</td></tr>
                                    </tbody>
                                </tbody>
                                <tbody id="id_mainWeapons_tb">
                                    <tr><td>{{formObject.mainWeapons.label}}</td><td>{{formObject.mainWeapons}}</td><td>{{formObject.OR_MW}}</td></tr>
                                    <tr id="tr_OR_MW"><td>{{formObject.MW_Custom.label}}</td><td>{{formObject.MW_Custom}}</td></tr> 
                                </tbody>
                                <tbody id="id_mainWeapons2_tb">
                                    <tr><td></td><td>{{formObject.mainWeapons2}}</td><td>{{formObject.OR_MW2}}</td></tr>
                                    <tr id="tr_OR_MW2"><td>{{formObject.MW2_Custom.label}}</td><td>{{formObject.MW2_Custom}}</td></tr>
                                </tbody>
                                <tbody id="id_mainWeapons3_tb">
                                    <tr><td></td><td>{{formObject.mainWeapons3}}</td><td>{{formObject.OR_MW3}}</td></tr>
                                    <tr id="tr_OR_MW3"><td>{{formObject.MW3_Custom.label}}</td><td>{{formObject.MW3_Custom}}</td></tr>
                                </tbody>
                                <tbody id="id_mainWeapons4_tb">
                                    <tr><td></td><td>{{formObject.mainWeapons4}}</td><td>{{formObject.OR_MW4}}</td></tr>
                                    <tr id="tr_OR_MW4"><td>{{formObject.MW4_Custom.label}}</td><td>{{formObject.MW4_Custom}}</td></tr>
                                </tbody>
                                <tbody id="id_AIWeapons_tb">
                                    <tr><td>{{formObject.AIWeapons.label}}</td><td>{{formObject.AIWeapons}}</td><td>{{formObject.OR_AI}}</td></tr>
                                    <tr id="tr_OR_AI"><td>{{formObject.AI_Custom.label}}</td><td>{{formObject.AI_Custom}}</td></tr> 
                                </tbody>
                                <tbody id="id_AIWeapons2_tb">
                                    <tr><td></td><td>{{formObject.AIWeapons2}}</td><td>{{formObject.OR_AI2}}</td></tr>
                                    <tr id="tr_OR_AI2"><td></td><td>{{formObject.AI2_Custom}}</td></tr> 
                                </tbody>
                                <tbody>
                                    <tr id="id_cmdTek_tr"><td>{{formObject.cmdTek.label}}</td><td>{{formObject.cmdTek}}</td></tr>
                                    <tr id="id_spec_abilities"><td>{%trans "Engineer "%} {{formObject.engineerSpecialist}}</td><td>{%trans "Medic"%}{{formObject.medicSpecialist}}</td></tr>
                                </tbody>
                            </table>
                        </div>
                    <div class="leftColumn">
                <table> <!-- Description table -->
                    <tr><td>{{formObject.image.label}}</td><td>
                    {% if filename and filename.strip  %}
                        <img style="max-width:128px; max-height:128px;" src='{{ STATIC_URL }}/user_media/{{filename}}'/>
                    {% else %}
                        {% trans 'None' %}
                    {% endif %}
                    </td></tr>
                    <tr><td colspan=3>{{formObject.image}}</td></tr>
                    <tbody>
                        <tr><td>{% trans "Description:" %}</td><td>{{formObject.desc}}</td></tr>
                        <tr><td>{% trans "Manufacturer:"%}</td><td>{{formObject.manu}}</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div style="width=100%; display:block; clear:both;">
            <table>
                <tbody>
                    <tr>
                        {% if unit.tempInstance or user.is_authenticated and request.user == unit_owner %}
                        <td> <button name="save" type="submit">{% trans "Save" %}</button> </td>
                        {% endif %}
                        {% if user.is_authenticated and request.user == unit_owner %}
                            {% if not unit.tempInstance %}
                            <td> <button name="delete" type="submit" id="id_delete">{% trans "delete" %}</button> </td>
                            {% endif %}
                        {% endif %}
                        <td> <button name="pdf" type="submit">{% trans "PDF" %}</button> </td>
                    </tr>
                </tbody>
            </table>
        </div>

        </form>
{% endblock %}
