{% extends "site_base.html" %}

{% load i18n %}
{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/unit_1.0.0.css">
<script src="{{ STATIC_URL }}js/view.js"></script>
<script src="{{ STATIC_URL }}js/jquery.raty.min.js"></script>

<script type="text/javascript">
    var WEAPON_COST = {'':0, {{weapons}} };
    var PERK_COST = {'':0, {{perkz}} };
    var MODZ_COST = {'':0, {{modz}} };
    function baseCost(utype, size) {
        switch (utype) {
            case(1):
                return 1;
            case (2):
                return 0;
            case (3):
                return [5,6,7,8,9][size-1];
            case (4):
                return[13,15,17,19,21][size-1];
            case (11):
                return[14,19,24,29,34][size-1];
            case (12):
                return[11,14,17,22,27][size-1];
            case (13):
                return[9,13,20,27,32][size-1];
            case (14):
                return[7,11,15,20,25][size-1];
            case (15):
                return[12,15,20,25,28][size-1];
            case (16):
                return[2,4,6,8,10][size-1];
            case (17):
                return[3,6,9,13,16][size-1];
            case (18):
                return[7,10,13,16,19][size-1];
            case (19):
                return[10,13,16,19,22][size-1];
            case (20):
                return[39,44,49,54,59][size-1];
            case (21):
                return[47,54,61,68,75][size-1];
            case (22):
                return[16,23,28,33,38][size-1];
            default:
                alert("Unsupported baseCost unit");
                return 0;
        }
    }
    function mobilityCost(utype){
        switch (utype) {
            case(1):
            case(2):
            case(3):
            case(12):
                return 0;
            case(4):
                mobi=$('#id_commander_mobility').val();
                return [0,0,1,3,5,7,0,9][mobi];
            case(21):
            case(14):
            case(18):
                mobi=$('#id_air_mobility').val();
                var t={11:0, 12:2, 13:3, 7:4};
                return t[mobi];
            case(11):
            case(12):
            case(13):
            case(15):
            case(20):
                var mobi=$('#id_mobility').val();
                var t={1:0, 3:1, 4:1, 5:2, 7:4};
                return t[mobi];
            case(17):
                var mobi=$('#id_field_artillery_mobility').val();
                var t={0:0, 17:1, 1:3, 5:3, 7:3}
                return t[mobi];
            case(19):
                var t={12:1, 13:2, 14:5, 15:8, 16:12};
                return t[$('#id_fighter_mobility').val()];
            case(22):
                var mobi=$('#id_monster_mobility').val();
                var t={1:0, 18:0, 8:2, 9:5, 10:8}
                return t[mobi];
            case(16):
                var mobi=$('#id_vspec_mobility').val();
                var t={0:0, 2:1, 3:2, 4:2, 5:3, 6:5, 7:6};
                return t[mobi];
            default:
                alert('Unsupported unit type for mobility cost');
                return 0;
        }
    }
    function shootCost(utype){
        if (utype < 10){
            if (utype == 2)
                return 0;
            return [0,0,0,1,3,5,7,9][$('#id_shoot').val()]
        }
        return 0;
    }
    function assaultCost(utype){
        if (utype < 10){
            if (utype == 2)
                return 0;
            return [0,0,0,1,3,5,7,9][$('#id_assault').val()]
        }
        return 0;
    }
    function guardCost(utype){
        if (utype == 1 || utype == 4 || utype == 3){
            var t={10:1, 11:3, 12:5, 13:7, 14:9}
            return t[$('#id_guard').val()];
        }
        return 0;
    }
    function skillCost(utype){
        if (utype == 1 || utype == 3 || utype == 4)
            return [0,0,0,1,3,5,7,9][$('#id_skill').val()];
        else if (utype>=11)
            return [0,0,0,1,3,5,8,12][$('#id_skill').val()];
        return 0;
    }
    function mentalCost(utype){
        if (utype == 1 || utype == 4 || utype == 3) {
            var t={6:0, 7:1, 8:3, 9:5, 10:7}
            return t[$('#id_mental').val()];
        }
        return 0;
    }
    function soakCost(utype){
        if (utype == 1 || utype == 4 || utype == 3){
            var t={10:0, 11:1, 12:3, 13:5, 14:7, 15:9, 16:11};
            return t[$('#id_soak').val()];
        }
        return 0;
    }
    function multiPerkCost(which) {
        count = 0;
        if ( which != 1 )
            count = (($('#id_perks').val() != '' && PERK_COST[$('#id_perks').val()] > 0) + ($('#id_perks2').val() != '' && PERK_COST[$('#id_perks2').val()] > 0));
        if ( which != 0 )
            count = count + (($('#id_modz').val() != '' && MODZ_COST[$('#id_modz').val()] > 0)+($('#id_modz2').val() != '' && MODZ_COST[$('#id_modz2').val()] > 0));
        if ( count > 1 )
            return ((count - 1)*5)
        return 0;
    }
    function heavyChassisCheck(which){
        // heavy chassis mod is #55
        if ($('#id_modz').val() == '55' || $('#id_modz2').val() == '55' ) {
            return true;
        }
        return false;
    }
    function perkCost(utype, size) {
        var cmdTekCost = 0;
        switch (utype) {
            case(2):
                return 0;
            case(1):
            case(3):
            case(4):
                return multiPerkCost(0) + PERK_COST[$('#id_perks').val()] + PERK_COST[$('#id_perks2').val()];
            case(11):
            case(12):
            case(13):
            case(14):
            case(15):
            case(18):
            case(20):
            case(21):
                if ( $('#id_cmdTek').prop('checked') )
                    cmdTekCost = 6;
                // deliberately fall through
            case(17):
            case(19):
            case(22):
                return multiPerkCost(1)+cmdTekCost+MODZ_COST[$('#id_modz').val()] + MODZ_COST[$('#id_modz2').val()];
            case (16):
                return multiPerkCost(2) + PERK_COST[$('#id_perks').val()] + PERK_COST[$('#id_perks2').val()] + MODZ_COST[$('#id_modz').val()] + MODZ_COST[$('#id_modz2').val()];
        }
    }
    function inlineSACost(utype) {
        if (utype != 1)
            return 0;
        return WEAPON_COST[$('#id_inlineWeapons').val()] + WEAPON_COST[$('#id_inlineWeapons2').val()];
    }
    function PAweaponCost(utype) {
        if ((utype == 1) && (parseInt($('#id_soak').val()) >= 14) && $('#id_SAWeapons option:selected').text().match(/^SA./)) {
            return $('#id_squadSize').val()*WEAPON_COST[$('#id_SAWeapons').val()];
        }
        return 0;
    }
    function weaponCost(utype, size) {
        // adjust to handle PA weapons
        switch (utype) {
            case(1):
                var soak = parseInt($('#id_soak').val());
                if ( soak >= 14 ) { // PA squad
                    // multiply SA weapons chosen by number taken
                    // If power-armour carrying SA weapons then ignore those for now and add after determining squad size.
                    if ( $('#id_SAWeapons option:selected').text().match(/^SA./)) { // PA squad with SA weapon
                        return WEAPON_COST[$('#id_grenades').val()]+WEAPON_COST[$('#id_CCW').val()];
                    } else
                        return WEAPON_COST[$('#id_SAWeapons').val()]+WEAPON_COST[$('#id_grenades').val()]+WEAPON_COST[$('#id_CCW').val()];
                } else
                    return WEAPON_COST[$('#id_basicWeapons').val()]+WEAPON_COST[$('#id_grenades').val()]+WEAPON_COST[$('#id_CCW').val()];
            case(2):
                return WEAPON_COST[$('#id_SAWeapons').val()]+WEAPON_COST[$('#id_CCW').val()];
            case(3):
            case(4):
            case(16):
                return WEAPON_COST[$('#id_SpecWeapons').val()]+WEAPON_COST[$('#id_grenades').val()]+WEAPON_COST[$('#id_CCW').val()];
            case(11):
            case(12):
            case(22):
                var main=0;
                var AI=0;
                var old_cost=0;
                var cost = WEAPON_COST[$('#id_mainWeapons1').val()];
                if (cost != old_cost) { main++; old_cost=cost;}
                if (utype!=22) {
                    cost = cost + WEAPON_COST[$('#id_AIWeapons').val()];
                    if (cost != old_cost) { AI++; old_cost=cost;}
                }
                if (utype == 12) { // MECHA CCW
                    cost = cost+WEAPON_COST[$('#id_MECHA_CCW').val()];
                    old_cost=cost;
                }
                if (size >= 2) {
                    cost = cost + WEAPON_COST[$('#id_mainWeapons2').val()];
                    if (cost != old_cost) { main++; old_cost=cost;}
                    if (size >= 3) {
                        if (utype!=22) {
                            cost = cost + WEAPON_COST[$('#id_AIWeapons2').val()];
                            if (cost != old_cost) { AI++; old_cost=cost;}
                        }
                        cost = cost + WEAPON_COST[$('#id_mainWeapons3').val()];
                        if (cost != old_cost) { main++; old_cost=cost;}
                        if (size >= 5)
                            cost = cost + WEAPON_COST[$('#id_mainWeapons4').val()];
                            if (cost != old_cost) { main++; old_cost=cost;}
                    }
                }
                return cost+[0, 1, 4, 8, 13][main]+[0, 2, 4][AI];
            case(18):
            case(19):
                var main=0;
                var AI=0;
                var old_cost=0;
                var cost = WEAPON_COST[$('#id_AIWeapons').val()];
                if (cost != old_cost) { AI++; old_cost=cost;}
                if (size >= 2) {
                    var cost = WEAPON_COST[$('#id_mainWeapons1').val()];
                    if (cost != old_cost) { main++; old_cost=cost;}
                    if (size >= 3) {
                        cost = cost + WEAPON_COST[$('#id_AIWeapons2').val()];
                        if (cost != old_cost) { AI++; old_cost=cost;}
                        cost = cost + WEAPON_COST[$('#id_mainWeapons2').val()];
                        if (cost != old_cost) { main++; old_cost=cost;}
                        if (size >= 4) {
                            cost = cost + WEAPON_COST[$('#id_mainWeapons3').val()];
                            if (cost != old_cost) { main++; old_cost=cost;}
                            if (size >= 5) {
                                cost = cost + WEAPON_COST[$('#id_mainWeapons4').val()];
                                if (cost != old_cost) { main++; old_cost=cost;}
                            }
                        }
                    }
                }
                return cost+[0, 1, 4, 8, 13][main]+[0, 2, 4][AI];
            case(20): //SHT
            case(21): //SHAS
                var main=0;
                var AI=0;
                var old_cost=0;
                var cost = WEAPON_COST[$('#id_mainWeapons1').val()];
                if (cost != old_cost) { main++; old_cost=cost;}
                cost = cost + WEAPON_COST[$('#id_mainWeapons2').val()];
                if (cost != old_cost) { main++; old_cost=cost;}
                cost = cost + WEAPON_COST[$('#id_mainWeapons3').val()];
                if (cost != old_cost) { main++; old_cost=cost;}
                cost = cost + WEAPON_COST[$('#id_AIWeapons').val()];
                if (cost != old_cost) { AI++; old_cost=cost;}
                if (size >= 2) {
                    cost = cost + WEAPON_COST[$('#id_mainWeapons4').val()];
                    if (cost != old_cost) { main++; old_cost=cost;}
                    if (size >= 3) {
                        cost = cost + WEAPON_COST[$('#id_mainWeapons5').val()];
                        if (cost != old_cost) { main++; old_cost=cost;}
                        cost = cost + WEAPON_COST[$('#id_AIWeapons2').val()];
                        if (cost != old_cost) { AI++; old_cost=cost;}
                        if (size >= 4)
                            cost = cost + WEAPON_COST[$('#id_mainWeapons6').val()];
                            if (cost != old_cost) { main++; old_cost=cost;}
                    }
                }
                return cost+[0, 1, 4, 8, 12, 14, 16][main]+[0, 2, 4][AI];
            case(13):
            case(14):
                var old_cost=0;
                var cost = WEAPON_COST[$('#id_AIWeapons').val()];
                var AI=0;
                if (cost != old_cost) { AI++; old_cost=cost;}
                if (size >= 3) {
                    cost = cost + WEAPON_COST[$('#id_AIWeapons2').val()];
                    if (cost != old_cost) { AI++; old_cost=cost;}
                }
                return cost+[0, 2, 4][AI];
            case(15):
            case(17):
                var main=0;
                var AI=0;
                var old_cost=0;
                var cost = WEAPON_COST[$('#id_mainWeapons1').val()];
                if (cost != old_cost) { main++; old_cost=cost;}
                cost = cost + WEAPON_COST[$('#id_AIWeapons').val()];
                if (cost != old_cost) { AI++; old_cost=cost;}
                if (size>=2) {
                    cost = cost + WEAPON_COST[$('#id_AIWeapons2').val()];
                    if (cost != old_cost) { AI++; old_cost=cost;}
                }
                if (size >= 3) {
                    cost = cost + WEAPON_COST[$('#id_mainWeapons2').val()];
                    if (cost != old_cost) { main++; old_cost=cost;}
                }
                return cost+[0, 1, 4, 8, 13][main]+[0, 2, 4][AI];
            default:
                alert('Unsupported unittype for weapons');
                break;
        }
    }

    function updateCost(){
        var size = parseInt($('#id_size').val());
        var utype = parseInt($('#id_unitType').val());
        var cost = baseCost(utype, size)+shootCost(utype)+assaultCost(utype)+guardCost(utype)+soakCost(utype)+mobilityCost(utype)+mentalCost(utype)+skillCost(utype);
        var debugTotal1 = cost;
        if (utype<10)
            cost = Math.ceil(cost/2);
        cost = cost + weaponCost(utype,size) + perkCost(utype);
        var debugTotal2 = cost;

        //alert ('base: ' + baseCost(utype,size)+'shoot:'+shootCost(utype)+' assault:'+assaultCost(utype)+' guard:'+guardCost(utype)+' soak:'+soakCost(utype)+' mental:'+mentalCost(utype)+' skill:'+skillCost(utype)+' weapons:'+weaponCost(utype,size)+' inlineSA:'+inlineSACost()+' perks: '+perkCost(utype)) +' mobility:'+mobilityCost(utype); 
        if (utype==1) {
            if ( $('#id_squadSize').val() != 6 )
                cost = Math.round((cost * $('#id_squadSize').val())/6);
            cost = cost + PAweaponCost(utype);
        }
        var debugTotal3 = cost;
        cost = cost + inlineSACost(utype);
        //alert('Debug totals: '+debugTotal1+', '+debugTotal2+', '+debugTotal3+', '+cost);
        $('#id_cost').html(cost);
    }

    function updateSave() {
        if ( {{ saved }} == 1 ) {
            $('#id_save').html("{% trans "Saved" %}").delay('slow').queue(function(n) {
            $(this).html("{% trans "Save" %}");
            n();})
        }
    }

function vehicleWeapon(which, utype, size)
{
    if (heavyChassisCheck())
        dSize = parseInt(size,10) + 1;
    else
        dSize = size;
    $(which+'_tb').show();
    $("option", $(which)).each(function(i) {
            if ($(this).attr("weaponSize")>dSize 
                || ((utype!=15 && utype!=17) && $(this).attr("weaponType") == 11)
                || ((utype!=19) && $(this).attr("weaponType") == 12) 
                || ((utype==19) && $(this).attr("weaponType") != 12) ) {
                $(this).attr("disabled", "disabled");
                if ($(this).attr("selected")) {
                $(this).removeAttr("selected");
                    $(which).val("");
                }
            }
            else
                $(this).removeAttr("disabled");
            });
}

function showMobility(utype) {
    $('#id_mobility_tr').hide();
    $('#id_commander_mobility_tr').hide();
    $('#id_air_mobility_tr').hide();
    $('#id_vspec_mobility_tr').hide();
    $('#id_field_artillery_mobility_tr').hide();
    $('#id_fighter_mobility_tr').hide();
    $('#id_monster_mobility_tr').hide();

    switch (utype) {
        case (4):
            $('#id_commander_mobility_tr').show();
            break;
        case (1):
        case (2):
        case (3):
        case (12):
            break;
        // vehicles
        case 11:
        case 13:
        case 15:
        case 20:
            $('#id_mobility_tr').show();
            break;
        case 14: //ASV
        case 18: // AAV
        case 21: // SHAS
            $('#id_air_mobility_tr').show();
            break;
        case 16: // VSPEC
            $('#id_vspec_mobility_tr').show();
            break;
        case 17: //Field artillery
            $('#id_field_artillery_mobility_tr').show();
            break;
        case 19: // Fighter
            $('#id_fighter_mobility_tr').show();
            break;
        case 22: // Monster
            $('#id_monster_mobility_tr').show();
            break;
        default:
            alert ('Unit type ' + utype + ' not yet supported.');
    }
}

function showCCW(utype) {

    $('#id_CCW_tb').show();
    var allowSpecCCW = false;
    if ( utype == 4 || utype == 3 )
        allowSpecCCW = true;
    // overload weapon size purpose for CCWs.
    // a weaponSize of 3 means a Specialist/Commander only CCW weapon
    $("option", $('#id_CCW_tb')).each(function(i) {
            if ($(this).attr("weaponSize") == 3 && !allowSpecCCW) {
                $(this).attr("disabled", "disabled");
                if ($(this).attr("selected")) {
                $(this).removeAttr("selected");
                    $('#id_CCW_tb').val("");
                }
            }
            else
                $(this).removeAttr("disabled");
            });
}

function showWeapons(utype) {
        if ( utype == 1 ) {
            $('#id_inlineWeapons_tb').show();
            $('#id_squadSize_tb').show();
        } else {
            $('#id_inlineWeapons_tb').hide()
            $('#id_squadSize_tb').hide();
        }
        $('#id_cmdTek_tr').hide();
        $('#id_mainWeapons1_tb').hide();
        $('#id_mainWeapons2_tb').hide();
        $('#id_mainWeapons3_tb').hide();
        $('#id_mainWeapons4_tb').hide();
        $('#id_mainWeapons5_tb').hide();
        $('#id_mainWeapons6_tb').hide();
        $('#id_MECHA_CCW_tb').hide();
        $('#id_AIWeapons_tb').hide();
        $('#id_AIWeapons2_tb').hide();
        if ( utype < 10 ) {
            $('#id_shoot_tr').show();
            $('#id_assault_tr').show();
            $('#id_mental_tr').show();
            // Hide vehicle specific stuff
            $('#id_modz_tb').hide();
            $('#id_grenades_tb').show();
            showCCW(utype);
            switch (utype) {
                case 1:
                    if ( utype == 1 && parseInt($('#id_soak').val()) >= 14 ) {
                        // PA Squad
                        $('#id_basicWeapons_tb').hide();
                        $('#id_SAWeapons_td').html('{% trans "Power Armour Weapons" %}');
                        $('#id_SAWeapons_tb').show();
                    } else {
                        $('#id_basicWeapons_tb').show();
                        $('#id_SAWeapons_tb').hide();
                    }
                    $('#id_SpecWeapons_tb').hide();
                    break;
                case 2:
                    $('#id_basicWeapons_tb').hide();
                    $('#id_SAWeapons_tb').show();
                    $('#id_SpecWeapons_tb').hide();
                    break;
                case 3:
                    $('#id_basicWeapons_tb').hide();
                    $('#id_SAWeapons_tb').hide();
                    $('#id_SpecWeapons_td').html('{% trans "Specialist Weapons" %}');
                    $('#id_SpecWeapons_tb').show();
                    break;
                case 4:
                    $('#id_SpecWeapons_td').html('{% trans "Commander Weapons" %}');
                    $('#id_basicWeapons_tb').hide();
                    $('#id_SAWeapons_tb').hide();
                    $('#id_SpecWeapons_tb').show();
                    break;
                default:
                    alert('Invalid infantry unit type:' + utype);
                    break;
            }
        } else {
            var size = $('#id_size').val();
            $('#id_shoot_tr').hide();
            $('#id_assault_tr').hide();
            $('#id_mental_tr').hide();
            $('#id_SAWeapons_tb').hide();
            $('#id_SpecWeapons_tb').hide();
            $('#id_basicWeapons_tb').hide();
            $('#id_grenades_tb').hide();
            $('#id_CCW_tb').hide();
            $('#id_modz_tb').show();
            if ( utype != 16 && utype != 22 )
                vehicleWeapon('#id_AIWeapons', utype, size);
            else
                $('#id_AIWeapons_tb').hide();
            switch (utype) {
                case 12:
                    $('#id_MECHA_CCW_tb').show();
                    // deliberately fall through
                case 11:
                    $('#id_cmdTek_tr').show();
                    vehicleWeapon('#id_mainWeapons1', utype, size);
                    if ( size == 5 ) {
                        vehicleWeapon('#id_mainWeapons2', utype, size);
                        vehicleWeapon('#id_mainWeapons3', utype, size);
                        vehicleWeapon('#id_mainWeapons4', utype, size);
                        $('#id_AIWeapons2_tb').show();
                    } else if ( size >=3 ) {
                        vehicleWeapon('#id_mainWeapons2', utype, size);
                        vehicleWeapon('#id_mainWeapons3', utype, size);
                        $('#id_AIWeapons2_tb').show();
                    } else if ( size == 2 ) {
                        vehicleWeapon('#id_mainWeapons2', utype, size);
                    }
                    break;
                case 13:
                case 14:
                    if ( size >= 3 )
                        $('#id_AIWeapons2_tb').show();
                    $('#id_cmdTek_tr').show();
                    break;
                case 15:
                    $('#id_cmdTek_tr').show();
                    //deliberately fall through
                case 17:
                    vehicleWeapon('#id_mainWeapons1', utype, size);
                    if ( size >= 2 ) {
                        vehicleWeapon('#id_mainWeapons2', utype, size)
                        if ( size >= 3 ) {
                            $('#id_AIWeapons2_tb').show();
                        }
                    }
                    break;
                case 16:
                    $('#id_SpecWeapons_td').html('{% trans "Specialist Weapons" %}');
                    $('#id_SpecWeapons_tb').show();
                    break;
                case 18: // AAV
                    $('#id_cmdTek_tr').show();
                    //deliberately fall through
                case 19: // fighter
                    if ( size >= 3 )
                        $('#id_AIWeapons2_tb').show();

                    if ( size == 5 )
                        vehicleWeapon('#id_mainWeapons4', utype, size);
                    if ( size >= 4 )
                        vehicleWeapon('#id_mainWeapons3', utype, size);
                    if ( size >= 3 )
                        vehicleWeapon('#id_mainWeapons2', utype, size);
                    if ( size >= 2 )
                        vehicleWeapon('#id_mainWeapons1', utype, size);
                    break;
                case 20: // SHT
                case 21: // SHAS
                    $('#id_cmdTek_tr').show();
                    if ( size >= 3 )
                        $('#id_AIWeapons2_tb').show();
                    else
                        $('#id_AIWeapons2_tb').hide();
                    vehicleWeapon('#id_mainWeapons1', utype, size);
                    vehicleWeapon('#id_mainWeapons2', utype, size);
                    vehicleWeapon('#id_mainWeapons3', utype, size);
                    if ( size >= 4 )
                        vehicleWeapon('#id_mainWeapons6', utype, size);
                    if ( size >= 3 )
                        vehicleWeapon('#id_mainWeapons5', utype, size);
                    if ( size >= 2 )
                        vehicleWeapon('#id_mainWeapons4', utype, size);
                    break;
                case 22:
                    vehicleWeapon('#id_mainWeapons1', utype, size);
                    if ( size == 5 )
                        vehicleWeapon('#id_mainWeapons4', utype, size);
                    if ( size >= 3 )
                        vehicleWeapon('#id_mainWeapons3', utype, size);
                    if ( size >= 2 )
                        vehicleWeapon('#id_mainWeapons2', utype, size);
                    break;
                default:
                    alert ('No weapon support for this vehicle type yet');
                    break;
            }
        }
    }
    function setSoak(soak) {
        if (soak > 15)
            $("#id_soak").append("<option value='"+soak+"'>"+soak+"</option>");
        $("#id_soak").val(soak);
    }
    function updateStats(utype, size) {
        if ( utype >= 3) {
            $('#id_size_tr').show();
            $('#id_damage_tr').show();
        } else {
            $('#id_size_tr').hide();
            $('#id_damage_tr').hide();
        }
        mobiClick(); // updates mecha walk box
        $("#id_guard option[value='4']").remove();
        $("#id_guard option[value='5']").remove();
        $("#id_guard option[value='6']").remove();
        $("#id_guard option[value='7']").remove();
        $("#id_guard option[value='8']").remove();
        $("#id_guard option[value='9']").remove();
        $("#id_guard option[value='15']").remove();
        $("#id_soak option[value='16']").remove();
        $("#id_soak option[value='17']").remove();
        $("#id_soak option[value='18']").remove();
        $("#id_soak option[value='19']").remove();
        $("#id_soak option[value='20']").remove();
        $("#id_soak option[value='21']").remove();
        $("#id_soak option[value='22']").remove();
        $("#id_soak option[value='23']").remove();
        $("#id_soak option[value='24']").remove();
        // size and damage boxes
        switch (utype) {
            case (4):
                $('#id_dam_text').html([12,14,16,18,20][size-1]);
                break;
            case (16):
            case (3):
                $('#id_dam_text').html([4,5,6,7,8][size-1]);
                if (utype == 16) {
                    $("#id_soak").append("<option value='16'>{% trans 'Spec. Assault(16)'%}</option>")
                    $("#id_guard").val(15-size);
                    $("#id_soak").val(11+size);
                } else {
                    $("#id_soak").append("<option value='16'>{% trans 'Uber(16)'%}</option>");
                }
                break;
            // vehicles
            case 11:
                var damValues= [14, 18, 22, 26, 30];
                var guard = 14-size;
                if (guard < 10)
                    $("#id_guard").append("<option value='"+guard+"'>{% trans 'Super Slow'%} ("+guard+")</option>")
                        $('#id_guard').val(14-size);
                setSoak(14+size);
                $('#id_dam_text').html(damValues[size-1]);
                break;
            case 12: //mecha
                var damValues= [12, 14, 16, 20, 24];
                $('#id_guard').val(15-size);
                setSoak(13+size);
                $('#id_dam_text').html(damValues[size-1]);
                break;
            case 13: //GSV
                var damValues= [10, 12, 16, 17, 18];
                var soakValues=[15, 15, 16, 17, 18];
                setSoak(soakValues[size-1]);
                $('#id_guard').val(14-size);
                $('#id_dam_text').html(damValues[size-1]);
                break;
            case 14: //ASV
                var damValues= [10, 12, 14, 16, 18];
                var soakValues=[13, 14, 15, 16, 17];
                setSoak(soakValues[size-1]);
                $('#id_guard').val(15-size);
                $('#id_dam_text').html(damValues[size-1]);
                break;
            case 15: //Artillery
                var damValues= [12, 14, 18, 22, 24];
                $("#id_guard").val(14-size);
                setSoak(13+size);
                $('#id_dam_text').html(damValues[size-1]);
                break;
            case 17: // Field Artillery
                var damValues= [9,11,13,15,17];
                $("#id_guard").val(14-size);
                setSoak(12+size);
                $('#id_dam_text').html(damValues[size-1]);
                break;
            case 18:
                var damValues= [8,10,12,14,16];
                var guardValues=[14,13,13,12,11];
                setSoak(12+size);
                $('#id_guard').val( guardValues[size-1]);
                $('#id_dam_text').html(damValues[size-1]);
                break;
            case (19):
                $('#id_dam_text').html([12,14,16,18,20][size-1]);
                setSoak(11+size);
                $('#id_guard').val(16-size);
                break;
            case 20: // SHT
                var damage=[34,38,42,46,50][size-1];
                var guard = 9-size;
                if (guard< 10)
                    $("#id_guard").append("<option value='"+guard+"'>"+guard+"</option>");
                $('#id_guard').val(guard);
                setSoak(19+size);
                $('#id_dam_text').html(damage);
                break;
            case 21: // SHAS
                var damage=[34,38,42,46,50][size-1];
                var guard = 11-size;
                if (guard< 10)
                    $("#id_guard").append("<option value='"+guard+"'>"+guard+"</option>");
                $('#id_guard').val(guard);
                setSoak(17+size);
                $('#id_dam_text').html(damage);
                break;
            case 22:
                var damValues= [15,20,25,30,35];
                var guard = 16-size;
                if (guard > 14)
                    $("#id_guard").append("<option value='"+guard+"'>{% trans 'Super Fast'%} ("+guard+")</option>");
                $('#id_guard').val(guard);
                setSoak([14,15,18,19,20][size-1]);
                $('#id_dam_text').html(damValues[size-1]);
                break;
            case 1:
            case 2:
                break;
            default:
                alert('updateStats unsupported unit type, remove once all done');
                break;
        }
        if ($('#id_guard').val() == null)
            $('#id_guard').val(10);
        if ($('#id_soak').val() == null)
            $('#id_soak').val(14);

        showMobility(utype);

        if ( utype == 1 || utype == 2 || utype == 4 || utype == 3 ) {
            $("#id_guard option").removeAttr("disabled");
            $("#id_soak option").removeAttr("disabled");
        } else {
            $("#id_guard option:selected").removeAttr("disabled");
            $("#id_soak option:selected").removeAttr("disabled");
            $("#id_guard option").not(":selected").attr("disabled", "disabled");
            $("#id_soak option").not(":selected").attr("disabled", "disabled");
        }

        // Hide perks
        switch (utype) {
            case(1):
            case(3):
            case(4):
            case(16):
                $('#id_perks_tb').show();
                break;
            default:
                $('#id_perks_tb').hide();
        }
        showWeapons(utype, size);
    }

    function soakClick(event) {
        var utype = parseInt($('#id_unitType').val());
        if ( utype == 1 ) { // only need to check if we could be a PA gruntz squad
            showWeapons(utype);
        }
        return false;
    }
    function publishClick(event) {
        if ($('#id_publish').prop('checked')) {
            alert("{% trans 'Once saved, this unit will now appear in the list of published and finished units. Please ensure that the unit is complete.' %}");
        } else {
            alert("{% trans 'Once saved, this unit will no longer appear in the list of published and finished units. However other users may still view it if they choose to view non-published units.' %}");
        }
        return false;
    }
    function sizeClick(event) {
        var size = parseInt($('#id_size').val());
        var utype = parseInt($('#id_unitType').val());
        updateStats(utype, size);
        return false;
    }
    // if it's a specialist, and walking, show the mecha walk check box
    function mobiClick(event) {
        if (parseInt($('#id_unitType').val()) == 3) {
            if ($('#id_mobility').val() == 1)
                $('#id_mech_walk').show();
            else
                $('#id_mech_walk').hide();
        }
    }
function weaponOR(event) {
        if ($(this).is(':checked'))
            $('#tr_'+$(this).attr('name')).show();
        else
            $('#tr_'+$(this).attr('name')).hide();
    }
    $( document ).ready( function()
        {
        $('#id_delete').click(confirmDelete);
        $('#id_unitType').change(sizeClick);
        $('#id_size').change(sizeClick);
        $('#id_soak').change(soakClick);
        $('#id_mobility').change(mobiClick);
        $('#id_mech_walk').hide();
        // To handle heavy chassis
        $('#id_modz').change(sizeClick);
        $('#id_modz2').change(sizeClick);
        $('input:checkbox[name^="OR_"]').change(weaponOR);
        $('input:checkbox[name^="OR_"]').each(weaponOR);
        $('#id_publish').change(publishClick);
        updateStats( parseInt($('#id_unitType').val()), parseInt($('#id_size').val()) );
        updateSave();

        $('select').change(updateCost);
        $('#id_cmdTek').change(updateCost);
        $('#star').raty({
score:{%if unit%}{{unit.getRating}}{%else%}null{%endif%},
            {% if not user.is_authenticated %}
                readOnly : true,
            {% endif %}
            path : '/site_media/static/raty/',
            cancel    : true,
            cancelOff : 'cancel-off.png',
            cancelOn  : 'cancel-on.png',
            half      : true,
            starHalf  : 'star-half.png',
            starOff   : 'star-off.png',
            starOn    : 'star-on.png',
            click: function(score, evt) {
                $.ajax({
                    type: "POST",
                    url: "/gom/unit/{{unit.id}}/rate/",
                    data:{'score':score,
                    },
                    dataType: "json",
                });
            }
        });
        } );
</script>
{% endblock extra_head %}

{% load ifsetting_tag %}

{% block head_title %}{% trans "Edit Unit" %}{% endblock %}

{% block body %}
<form method="post" id="unit" action="/gom/unit/{%if unit%}{{unit.id}}{%else%}0{%endif%}/save/" enctype="multipart/form-data"> {% csrf_token %}
        {{ formset.management_form }}
        <div style="white-space:nowrap; height:50px;">
            <div style="display:inline; float:left; white-space:nowrap;">
                {% if not unit or user.is_authenticated and request.user == unit_owner %}
                <div style="display:inline; float:left;"><h1>{% trans "Edit Unit"%}</h1></div>
                <div style="display:inline; float:left; padding-left:10px;">{% trans "Publish" %} {{formObject.publish}}</div>
                {% else %}
                <h1>{% trans "Other User's Unit - View Only"%}</h1>
                {% endif %}
            </div>
            <div style="display:inline; float:right;" id="star"></div>
            <div style="float:right;white-space:nowrap;">
                <h1 style="margin-bottom:0px; margin-right:20px;">{% trans 'Cost: ' %}<span id="id_cost">{%if unit%}{{unit.cost}}{%endif%}</span></h1>
            </div>
        </div>
            <div style="width:100%; clear:both;">
                <div class="leftColumn">
                            <table>
                                <tbody>
                                    <tr><td>{% trans 'Name' %}</td><td>{{formObject.name}}</td></tr>
                                    <tr><td>{% trans "Unit Type" %}</td><td>{{formObject.unitType}}</td></tr>
                                    <tr id="id_size_tr"><td>{% trans 'Size' %}</td><td>{{formObject.size}}</td></tr>
                                    <tr id="id_shoot_tr"><td>{% trans 'Shoot' %}</td><td>{{formObject.shoot}}</td></tr>
                                    <tr id="id_assault_tr"><td>{% trans 'Assault' %}</td><td>{{formObject.assault}}</td></tr>
                                    <tr><td>{% trans 'Guard' %}</td><td>{{formObject.guard}}</td></tr>
                                    <tr><td>{% trans 'Soak' %}</td><td>{{formObject.soak}}</td></tr>
                                    <tr id="id_mental_tr"><td>{% trans 'Mental' %}</td><td>{{formObject.mental}}</td></tr>
                                    <tr><td>{% trans 'Skill' %}</td><td>{{formObject.skill}}</td></tr>
                                    <tr id="id_damage_tr"><td>{% trans "Damage" %}</td><td id="id_dam_text">{{unit.getDam}}</td></tr>
                                    <tbody id="id_modz_tb">
                                        <tr><td>Modz</td><td>{{formObject.modz}}</td></tr>
                                        <tr><td>Modz 2</td><td>{{formObject.modz2}}</td></tr>
                                    </tbody>
                                    <tbody id="id_perks_tb">
                                        <tr><td>{{formObject.perks.label}}</td><td>{{formObject.perks}}</td></tr>
                                        <tr><td>{{formObject.perks2.label}}</td><td>{{formObject.perks2}}</td></tr>
                                    </tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="centreColumn">
                            <table>
                                <tbody id="id_mobility_tr">
                                    <tr><td>{% trans "Mobility" %}</td><td>{{formObject.mobility}}</td><td id="id_mech_walk">{%trans "Mecha?" %}{{formObject.mechaSpecialist}}</td></tr>
                                </tbody>
                                <tbody id="id_commander_mobility_tr">
                                    <tr><td>{{formObject.commander_mobility.label}}</td><td>{{formObject.commander_mobility}}</td></tr>
                                </tbody>
                                <tbody id="id_air_mobility_tr">
                                    <tr><td>{{formObject.air_mobility.label}}</td><td>{{formObject.air_mobility}}</td></tr>
                                </tbody>
                                <tbody id="id_vspec_mobility_tr">
                                    <tr><td>{{formObject.vspec_mobility.label}}</td><td>{{formObject.vspec_mobility}}</td></tr>
                                </tbody>
                                <tbody id="id_field_artillery_mobility_tr">
                                    <tr><td>{{formObject.field_artillery_mobility.label}}</td><td>{{formObject.field_artillery_mobility}}</td></tr>
                                </tbody>
                                <tbody id="id_fighter_mobility_tr">
                                    <tr><td>{{formObject.fighter_mobility.label}}</td><td>{{formObject.fighter_mobility}}</td></tr>
                                </tbody>
                                <tbody id="id_monster_mobility_tr">
                                    <tr><td>{{formObject.monster_mobility.label}}</td><td>{{formObject.monster_mobility}}</td></tr>
                                </tbody>
                                <tbody>
                                    <tbody id="id_basicWeapons_tb">
                                        <tr><td>{% trans "Grunt Weapons" %}</td><td>{{formObject.basicWeapons}}</td><td>{{formObject.OR_basic}}</td></tr>
                                        <tr id="tr_OR_basic"><td>{{formObject.basic_Custom.label}}</td><td>{{formObject.basic_Custom}}</td></tr>
                                    </tbody>
                                    <tbody id="id_SAWeapons_tb">
                                        <tr><td>{% trans "SA weapons" %}</td><td>{{formObject.SAWeapons}}</td><td>{{formObject.OR_SA}}</td></tr>
                                        <tr id="tr_OR_SA"><td>{{formObject.SA_Custom.label}}</td><td>{{formObject.SA_Custom}}</td></tr>
                                    </tbody>
                                    <tbody id="id_SpecWeapons_tb">
                                        <tr><td id="id_SpecWeapons_td">{% trans "Specialist Weapons" %}</td><td>{{formObject.SpecWeapons}}</td><td>{{formObject.OR_Spec}}</td></tr>
                                        <tr id="tr_OR_Spec"><td>{{formObject.Spec_Custom.label}}</td><td>{{formObject.Spec_Custom}}</td></tr>
                                    </tbody>
                                    <tbody id="id_CCW_tb">
                                        <tr><td>{% trans "CCW" %}</td><td>{{formObject.CCW}}</td><td>{{formObject.OR_CCW}}</td></tr>
                                        <tr id="tr_OR_CCW"><td>{{formObject.CCW_Custom.label}}</td><td>{{formObject.CCW_Custom}}</td></tr>
                                    </tbody>
                                    <tbody id="id_grenades_tb">
                                        <tr><td>{{formObject.grenades.label}}</td><td>{{formObject.grenades}}</td><td>{{formObject.OR_grenades}}</td></tr>
                                        <tr id="tr_OR_grenades"><td>{{formObject.grenades_Custom.label}}</td><td>{{formObject.grenades_Custom}}</td></tr>
                                    </tbody>
                                    <tbody id="id_inlineWeapons_tb">
                                        <tr><td id="id_inlineWeapons_td">{% trans "Same-card SA" %}</td><td>{{formObject.inlineWeapons}}</td><td>{{formObject.OR_inline}}</td></tr>
                                        <tr id="tr_OR_inline"><td>{{formObject.inline_Custom.label}}</td><td>{{formObject.inline_Custom}}</td></tr>
                                        <tr><td id="id_inlineWeapons2_td">{% trans "Same-card SA 2" %}</td><td>{{formObject.inlineWeapons2}}</td><td>{{formObject.OR_inline2}}</td></tr>
                                        <tr id="tr_OR_inline2"><td>{{formObject.inline2_Custom.label}}</td><td>{{formObject.inline2_Custom}}</td></tr>
                                    </tbody>
                                </tbody>
                                <tbody id="id_squadSize_tb">
                                    <tr><td>{% trans "Squad Size" %}</td><td>{{formObject.squadSize}}</td></tr>
                                </tbody>
                                <tbody id="id_mainWeapons1_tb">
                                    <tr><td>{{formObject.mainWeapons1.label}}</td><td>{{formObject.mainWeapons1}}</td><td>{{formObject.OR_MW1}}</td></tr>
                                    <tr id="tr_OR_MW1"><td>{{formObject.MW1_Custom.label}}</td><td>{{formObject.MW1_Custom}}</td></tr> 
                                </tbody>
                                <tbody id="id_mainWeapons2_tb">
                                    <tr><td></td><td>{{formObject.mainWeapons2}}</td><td>{{formObject.OR_MW2}}</td></tr>
                                    <tr id="tr_OR_MW2"><td>{{formObject.MW2_Custom.label}}</td><td>{{formObject.MW2_Custom}}</td></tr>
                                </tbody>
                                <tbody id="id_mainWeapons3_tb">
                                    <tr><td></td><td>{{formObject.mainWeapons3}}</td><td>{{formObject.OR_MW3}}</td></tr>
                                    <tr id="tr_OR_MW3"><td>{{formObject.MW3_Custom.label}}</td><td>{{formObject.MW3_Custom}}</td></tr>
                                </tbody>
                                <tbody id="id_mainWeapons4_tb">
                                    <tr><td></td><td>{{formObject.mainWeapons4}}</td><td>{{formObject.OR_MW4}}</td></tr>
                                    <tr id="tr_OR_MW4"><td>{{formObject.MW4_Custom.label}}</td><td>{{formObject.MW4_Custom}}</td></tr>
                                </tbody>
                                <tbody id="id_mainWeapons5_tb">
                                    <tr><td></td><td>{{formObject.mainWeapons5}}</td><td>{{formObject.OR_MW5}}</td></tr>
                                    <tr id="tr_OR_MW5"><td>{{formObject.MW5_Custom.label}}</td><td>{{formObject.MW5_Custom}}</td></tr>
                                </tbody>
                                <tbody id="id_mainWeapons6_tb">
                                    <tr><td></td><td>{{formObject.mainWeapons6}}</td><td>{{formObject.OR_MW6}}</td></tr>
                                    <tr id="tr_OR_MW6"><td>{{formObject.MW6_Custom.label}}</td><td>{{formObject.MW6_Custom}}</td></tr>
                                </tbody>
                                <tbody id="id_AIWeapons_tb">
                                    <tr><td>{{formObject.AIWeapons.label}}</td><td>{{formObject.AIWeapons}}</td><td>{{formObject.OR_AI}}</td></tr>
                                    <tr id="tr_OR_AI"><td>{{formObject.AI_Custom.label}}</td><td>{{formObject.AI_Custom}}</td></tr> 
                                </tbody>
                                <tbody id="id_AIWeapons2_tb">
                                    <tr><td></td><td>{{formObject.AIWeapons2}}</td><td>{{formObject.OR_AI2}}</td></tr>
                                    <tr id="tr_OR_AI2"><td></td><td>{{formObject.AI2_Custom}}</td></tr> 
                                </tbody>
                                <tbody id="id_MECHA_CCW_tb">
                                    <tr><td>{{formObject.MECHA_CCW.label}}</td><td>{{formObject.MECHA_CCW}}</td><td>{{formObject.OR_MECHA_CCW}}</td></tr>
                                    <tr id="tr_OR_MECHA_CCW"><td>{{formObject.MECHA_CCW_Custom.label}}</td><td>{{formObject.MECHA_CCW_Custom}}</td></tr>
                                </tbody>
                                <tbody>
                                    <tr id="id_cmdTek_tr"><td>{{formObject.cmdTek.label}}</td><td>{{formObject.cmdTek}}</td></tr>
                                </tbody>
                            </table>
                        </div>
                    <div class="leftColumn">
                <table> <!-- Description table -->
                    <tr><td>{{formObject.image.label}}</td><td>
                    {% if filename and filename.strip  %}
                        <img style="max-width:128px; max-height:128px;" src='{{ STATIC_URL }}/user_media/{{filename}}'/>
                    {% else %}
                        {% trans 'None' %}
                    {% endif %}
                    </td></tr>
                    <tr><td colspan=3>{{formObject.image}}</td></tr>
                    <tbody>
                        <tr><td>{% trans "Description:" %}</td><td>{{formObject.desc}}</td></tr>
                        <tr><td>{% trans "Manufacturer:"%}</td><td>{{formObject.manu}}</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div style="width=100%; display:block; clear:both;">
            <table>
                <tbody>
                    <tr>
                        {% if not unit or user.is_authenticated and request.user == unit_owner %}
                        <td> <button name="save" type="submit">{% trans "Save" %}</button> </td>
                        {% endif %}
                        {% if user.is_authenticated and request.user == unit_owner %}
                            {% if unit %}
                            <td> <button name="delete" type="submit" id="id_delete">{% trans "delete" %}</button> </td>
                            {% endif %}
                        {% endif %}
                        <td> <button name="pdf" type="submit">{% trans "PDF" %}</button> </td>
                    </tr>
                </tbody>
            </table>
        </div>

        </form>
{% endblock %}
